* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

main {
  margin: 50px;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.flow {
  width: 300px;
  background-color: #EEEEEE;
}

.flow h3 {
  margin-bottom: 5px;
}


.flow1 {
  height: 150px;
  margin: 10px 10px 15px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

